server:
  port: 8083

spring:
  application:
    name: user-service
  sql:
    init:
      mode: always
  r2dbc:
    url: r2dbc:postgresql://sonifoy-db:5432/user_db
    username: sonifoy_user
    password: sonifoy_password

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
